<header
  class="head-listing"
  style="background-color: black; width: 100%; padding-bottom: 20px"
>
  <div
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <h1
      style="
        color: #fff;
        text-align: left;
        padding-left: 20px;
        padding-top: 15px;
        margin: 0;
      "
    >
      <img
        src="/assets/img/logo-wwcempx.png"
        alt=""
        style="width: 50px; padding-right: 8px"
      />WageWise
    </h1>
    <div class="cursor" (click)="logout()">
      <i
        class="fa-solid fa-arrow-right-from-bracket"
        style="
          color: #fff;
          font-size: 24px;
          padding-right: 20px;
          padding-top: 20px;
        "
      ></i>
    </div>
  </div>
</header>

<section class="back-listing">
  <div class="listing">
    <header class="title-listing">
      <div class="container-header-list">
        <h1 style="flex: 1; font-size: 30px; font-weight: 500">
          <strong>Ficha do Funcionário</strong>
        </h1>

        <div
          class="col-2"
          style="margin-right: 450px; margin-bottom: -10px; position: relative"
        >
          <label for="inputSearch" class="input-search-deployeer"></label>
        </div>

        <div
          class="open-modal-button"
          style="margin-left: auto; margin-right: 25px; margin-bottom: -25px"
        ></div>
      </div>
    </header>

    <hr style="background-color: #f2f2f2" />

    <div *ngIf="employee" class="container-ficha">
      <div class="flex-container" style="column-gap: 50px">
        <div style="display: flex; flex-direction: column; width: 100%">
          <label for="name">Nome</label>
          <span>{{ employee.name || "-" }}</span>
        </div>
        <div style="display: flex; flex-direction: column; width: 100%">
          <label for="Data de nascimento">Data de nascimento</label>
          <span>{{ (employee.birthDate | date : "dd/MM/yyyy") || "-" }}</span>
        </div>
        <div style="display: flex; flex-direction: column; width: 100%">
          <label for="CPF">CPF</label>
          <span>{{ employee.document || "-" }}</span>
        </div>
      </div>
      <hr />
      <div class="flex-container" style="column-gap: 150px">
        <div style="display: flex; flex-direction: column; width: 50%">
          <label for="email">Email</label>
          <span>{{ employee.email || "-" }}</span>
        </div>
        <div style="display: flex; flex-direction: column; width: 50%">
          <label for="telefone">Telefone</label>
          <span>{{ employee.phone || "-" }}</span>
        </div>
      </div>
      <hr />
      <div class="flex-container" style="column-gap: 50px">
        <div style="display: flex; flex-direction: column; width: 100%">
          <label for="cargo">Cargo</label>
          <span>{{ employee.jobTitle || "-" }}</span>
        </div>
        <div style="display: flex; flex-direction: column; width: 100%">
          <label for="data de pagamento">Data de pagamento</label>
          <span
            >{{ (employee.admissionDate | date : "dd/MM/yyyy") || "-" }}</span
          >
        </div>
        <div style="display: flex; flex-direction: column; width: 100%">
          <label for="salario base">Salário base (R$)</label>
          <span>{{ employee.baseSalary || "-" }}</span>
        </div>
      </div>
      <hr />
      <div class="flex-container" style="column-gap: 50px">
        <div style="display: flex; flex-direction: column; width: 100%">
          <label for="cep">CEP</label>
          <span>{{ employee.address.postalCode || "-" }}</span>
        </div>
        <div style="display: flex; flex-direction: column; width: 100%">
          <label for="rua">Rua</label>
          <span>{{ employee.address.streetAddress || "-" }}</span>
        </div>
        <div style="display: flex; flex-direction: column; width: 100%">
          <label for="numero">Número</label>
          <span>{{ employee.address.houseNumber || "-" }}</span>
        </div>
      </div>
      <hr />
      <div class="flex-container" style="column-gap: 50px">
        <div style="display: flex; flex-direction: column; width: 100%">
          <label for="bairro">Bairro</label>
          <span>{{ employee.address.neighborhood || "-" }}</span>
        </div>
        <div style="display: flex; flex-direction: column; width: 100%">
          <label for="cidade">Cidade</label>
          <span>{{ employee.address.city || "-" }}</span>
        </div>
        <div style="display: flex; flex-direction: column; width: 100%">
          <label for="estado">Estado</label>
          <span>{{ employee.address.state || "-" }}</span>
        </div>
      </div>
      <hr />
    </div>
  </div>
</section>

<div class="container-footer">
  <footer class="content-footer">&copy; WageWise</footer>
</div>
