
<section class="container-modal">
    <div>
    <form class="row g-3">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Nome completo</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="col-md-2">
        <label for="inputPassword4" class="form-label">Data de nascimento</label>
        <input type="text" class="form-control" id="inputPassword4">
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Endereço</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Rua">
      </div>
      <div class="col-12">
        <label for="inputAddress2" class="form-label">Bairro</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder=" ">
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">Cidade</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">Estado</label>
        <select id="inputState" class="form-select">
          <option selected>São Paulo</option>
          <option selected>Minas Gerais</option>
          <option selected>Choose...</option>
          <option selected>Choose...</option>
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">CEP</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </form><form class="row g-3">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="email@example.com">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Telefone</label>
        <input type="text" class="form-control" id="inputPassword4">
      </div>
      <div class="col-md-6">
        <label for="inputJob" class="form-label">Cargo</label>
        <select id="inputJob" class="form-select">
          <option selected>Desenvolvedor</option>
          <option selected>Designer</option>
          <option selected>Analista</option>
          <option selected>Choose...</option>
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Salário base</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="col-12">
      </div>
    </form>
  </div>
  <div>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
    <button type="button" class="btn btn-primary">Cadastrar</button>
  </div>
</section>