<body>
    <h1>Cadastro de Funcionário</h1>
    <form>
        <label for="nome">ID:</label>
        <input type="number" id="id" name="id" required>
        
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="documento">Documento:</label>
        <input type="text" id="documento" name="documento" required>

        <label for="cargo">Cargo:</label>
        <input type="text" id="cargo" name="cargo" required>

        <label for="salario">Salário Base:</label>
        <input type="number" id="salario" name="salario" required>

        <label for="telefone">Telefone:</label>
        <input type="tel" id="telefone" name="telefone" required>

        <label for="nascimento">Data de Nascimento:</label>
        <input type="date" id="nascimento" name="nascimento" required>

        <label for="rua">Endereço (Rua):</label>
        <input type="text" id="rua" name="rua" required>

        <label for="cidade">Endereço (Cidade):</label>
        <input type="text" id="cidade" name="cidade" required>

        <label for="cep">Endereço (CEP):</label>
        <input type="text" id="cep" name="cep" required>

        <label for="bairro">Endereço (Bairro):</label>
        <input type="text" id="bairro" name="bairro" required>

        <label for="numero">Endereço (Número da Casa):</label>
        <input type="text" id="numero" name="numero" required>

        <button type="submit">Cadastrar</button>
    </form>
</body>