/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

:root {
    --primary-font: "Open Sans" !important;


    --input-opacity: #6c738383;
    --input-border: rgba(0, 0, 0, 0.17);
  }

//html, body { height: 100%; }
//body {font-family: "Open Sans" }

.dialog > mat-dialog-container {
    padding: 0 !important;
    margin: 0 !important;
    border: solid 1px rgba(0, 0, 0, 0.059);
    border-radius: 0px;
    width: 1000px;
    height: auto;
}


