<section
  class="container-modal"
  style="
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
  "
>
  <div style="width: 100%">
    <span style="font-size: 1.7rem; text-align: center; line-height: 30px"
      >Se você confirmar, uma nova conta será criada para este funcionário. Ele
      será notificado por um e-mail que vai disponibilizar os dados para acesso
      ao sistema!</span
    >
  </div>

  <div
    style="
      width: 100%;
      display: flex;
      column-gap: 70px;
      justify-content: center;
      padding-right: 20px;
    "
  >
    <div class="register-buttons">
      <button
        type="button"
        class="btn btn-secondary"
        style="
          width: 150px;
          --bs-btn-padding-y: 10px;
          --bs-btn-padding-x: 26px;
          --bs-btn-font-size: 18px;
          background-color: #6c7383;
          border-radius: 25px;
          border: none;
        "
        onmouseover="this.style.backgroundColor='#6c738393'"
        onmouseout="this.style.backgroundColor='#6c7383'"
        (click)="handleModal(false)"
      >
        Voltar
      </button>
    </div>
    <div>
      <button
        type="button"
        class="btn btn-primary"
        style="
          width: 150px;
          --bs-btn-padding-y: 10px;
          --bs-btn-padding-x: 26px;
          --bs-btn-font-size: 18px;
          background-color: black;
          border-radius: 25px;
          border: none;
        "
        onmouseover="this.style.backgroundColor='#000000c4'"
        onmouseout="this.style.backgroundColor='black'"
        (click)="handleModal(true)"
      >
        Confimar
      </button>
    </div>
  </div>
</section>
